*{
    margin: 0px;
    padding: 0px;
}
.head{
    width: 100%;
    height: 50px;
    background-color: darkblue;
    color: white;
    padding: 10px;
}
.content{
    display: flex;
    margin-top: 15px;
    column-gap: 20px;
}
.content i{
    margin-left: 30px;
}
.content1{
    column-gap: 20px;
    margin-left: 10%;
}
.content1 a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}
.content1 a:hover{
    color: gray;
}
.logo img{
    width: 100%;
    height: 9%;
}
.menu{
    column-gap: 65px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.menu a{
    text-decoration: none;
    font-size: larger;
}
.menu a:hover{
    text-decoration: underline;
    color: black;
}
.second img{
    height: 200px;
}